<script type="text/javascript">

var report_data = JSON.parse('<%- report_data_js %>');
getData(getUrl() + '/api/get_user_data/' + report_data.teacher, function(callback) {
  if(callback.response != 1) {
    $('#teacher').text(callback.name);
  }
});

getData(getUrl() + '/api/get_student_data/' + report_data.student, function(callback) {
  if(callback.response != 1) {
    $('#student').text(callback.name);
    $('#student_title').text(callback.name);
  }
});

getData(getUrl() + '/api/get_class_by_uuid/' + report_data.class, function(callback) {
  if(callback.response != 1) {
    $('#class_title').text(callback.subject);
  }
});

/*getData(getUrl() + '/api/get_student_data/' + appointment_data.student_id, function(callback) {

});*/
</script>
