<%
var avaliable_times = JSON.stringify(times);
var avaliable_types = JSON.stringify(types);
var user_id = user._id;
var profile_data = JSON.stringify({
  _id: profile._id,
  tutor_group: profile.tutor_group
});
var reports_data = JSON.stringify({
  class: reports.class
});
var data_u = data;
var arr = [];
for(var i=0; i < data_u.length; i++) {
  obj = data_u[i];
  obj_string = JSON.stringify(obj);
  arr.push(obj_string);
} %>
<!DOCTYPE html>
<html>

<head>
  <% include ../templates/head.ejs %>
</head>

<body>
    <div id="wrapper">
        <div id="sidebar-wrapper">
            <div class="avatar-content">
              <% include ../templates/avatar.ejs %>
            </div>
            <div class="navigation-bar">
                <% include ../templates/nav.ejs %>
                <% if(admin && admin == true) { %>
                  <% include ../templates/admin_nav.ejs %>
                <% }  %>
            </div>
        </div>
        <div class="page-content-wrapper">
            <div id="nav-top-bar" class="nav-top-bar">
                <div class="row" id="nav-top-bar-row">
                    <div class="col-md-8" id="titles">
                        <h1 class="nav-top-bar-header">Profiles </h1>
                        <p class="nav-top-bar-para">Welcome to the Home of Oldfield's Parents Evening Application</p>
                    </div>
                </div>
            </div>
            <div id="main-content-area" class="main-content-area">
                <div class="container-fluid">
                    <div id="main-content-header-account" class="main-content-area-header" style="margin-bottom:0">
                        <h1 class="main-content-area-header-heading">Profile </h1>
                        <p class="main-content-area-header-para">Viewing profile of "<%= profile.name %>"</p>
                    </div>
                    <div id="main-content-area-children">
                        <div class="main-content-area-inside-account">
                          <%
                          name = profile.name;
                          picture_url = profile.picture_url;
                          bio = profile.bio;
                          if(!picture_url) {
                            picture_url = "http://www.sheffield.com/wp-content/uploads/2013/06/placeholder.png";
                          }
                          %>
                            <div class="student-avatar-content">
                              <div class="row">
                                <div class="col-md-6">
                                  <img class="avatar-image-small-circle" src="<%- picture_url %>">
                                  <h1 class="avatar-name"><%= profile.name %></h1>
                                  <p class="profile-avatar-title">Student - <span class="year">Year <%= year_utils.year(profile.dob) %></span></p>
                                </div>

                                <div class="col-md-6">
                                  <div class="student_info">
                                      <h1 class="student_info_title" style="font-weight:bold;">Details </h1>
                                      <p>Age: <%= year_utils.getAge(profile.dob) %></p>
                                      <p>Year: <%= year_utils.year(profile.dob) %></p>
                                  </div>
                                </div>
                              </div>
                              <div class="student_grades">
                                  <h1 class="student_grades_title" style="font-weight:bold;">Reports </h1>
                                  <% if(reports.length && reports != 1) {
                                    for(var i=0; i < reports.length; i++) {
                                      var report_obj = reports[i];
                                      var date = moment(report_obj.created_at).format("Do of MMMM YYYY, hA");
                                      %>
                                    <div class="grade_box">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <p class="grade_box_date"><%= date %></p>
                                                <h1 class="grade_box_subject">ENGLISH</h1>
                                                <h1 class="grade_box_term">Term <%= report_obj.term %></h1>
                                            </div>
                                            <div class="col-md-6">
                                                <a class="btn btn-default" href="/main/view_report/<%= report_obj._id %>">View Report</a>
                                            </div>
                                        </div>
                                    </div>
                                  <% }
                                } else {
                                  %>
                                  <div class="grade_box">
                                      <p class="no_reports">No reports avaliable!</p>
                                  </div>
                                  <%
                                }%>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <% include ../templates/modals/api.ejs %>
    <% include ../templates/modals/view_student.ejs %>
</body>

</html>
