<script type="text/javascript">
var times = JSON.parse('<%- avaliable_times %>');
var types = JSON.parse('<%- avaliable_types %>');
var stats = JSON.parse('<%- statuses %>');
</script>
<script type="text/javascript" src="/js/admin_dashboard.js"></script>
<script type="text/javascript">
  $("#dashboard_table_data").dataTable({
    scrollY: '1000px',
    scrollCollapse: true,
    paging: false,
    "iDisplayLength": 10,
    "aLengthMenu": [[10, 25, 50, 100,  -1], [10, 25, 50, 100, "All"]]
  });
</script>
